[mysqld_safe]
nice = -17
ledir = /usr/local/mysql/bin/
mysqld = mysqld_using_numactl
#mysqld = /usr/local/mysql/bin/mysqld

[mysqld]
large-pages
innodb_old_blocks_time          = 1000 
innodb_old_blocks_pct           = 50
innodb_max_dirty_pages_pct      = 2
federated
user = mysql
skip-name-resolve
socket=/tmp/mysql.sock
back_log = 20000
max_connections = 8000
table_open_cache= 512
thread_concurrency= 48
thread_cache_size=100
expire_logs_days        = 3
max_binlog_size         = 800M
auto_increment_increment=1
auto_increment_offset=1
log_bin_trust_function_creators=1
long_query_time = 2
innodb_data_file_path = ibdata1:10M:autoextend
max_heap_table_size=3G
tmp_table_size=3G
default-storage-engine=INNODB
innodb_io_capacity=600
innodb_buffer_pool_size=8G
innodb_log_buffer_size=512M
innodb_log_file_size=128M
innodb_log_files_in_group=3
innodb_read_io_threads =12
innodb_write_io_threads=4
innodb_file_per_table=1
innodb_flush_log_at_trx_commit=0
innodb_buffer_pool_instances = 8
innodb_additional_mem_pool_size = 8M
innodb_open_files               = 1000 
innodb_use_native_aio           =1
innodb_adaptive_hash_index      = 1  
innodb_adaptive_flushing        = 1 
innodb_lock_wait_timeout        = 20
innodb_thread_concurrency       = 24 
innodb_sync_spin_loops          = 100
innodb_spin_wait_delay          = 30
innodb_concurrency_tickets      = 5000
innodb_commit_concurrency       = 4
innodb_flush_method            = O_DIRECT
innodb_support_xa               = 1
skip-innodb-doublewrite
innodb_autoextend_increment     = 64
log-bin                         = mysql-bin
binlog_format                   = mixed
#innodb_status_file                    
query_cache_type=0
query_cache_size = 36M
query_cache_min_res_unit = 2K
event_scheduler=OFF
key_buffer_size = 32m
max_allowed_packet = 50M


#修改了磁盘高度策略为deadline
#/sys/block/sdb/queue/scheduler
#减小预读
#echo '16'> /sys/block/sdb/queue/read_ahead_kb
## echo '512'>/sys/block/sdb/queue/nr_requests
#增加队列
# echo '512'>/sys/block/sdb/queue/nr_requests
