[mysqld_multi]
#mysqld				= /usr/local/mysql/bin/mysqld_using_numactl
mysqld				= /usr/local/mysql/bin/mysqld_safe
mysqladmin			= /usr/local/mysql/bin/mysqladmin
log				= /var/log/mysql.log
user				= replication
password			= 123456

[mysqld_safe]
nice				= -17
ledir				= /usr/local/mysql/bin/
mysqld				= mysqld_using_numactl
#mysqld				= mysqld
open-files-limit				= 65535


[mysqld1]
#query_cache_type		= 1
port				= 3301
datadir				= /home/data/mysql/3301
log-bin				= /home/data/mysql/3301/mysql-bin
socket				= /home/data/mysql/3301/mysql.sock
pid-file			= /home/data/mysql/3301/mysql.pid
log-error			= /home/data/mysql/3301/error.log
log-slow-queries		= /home/data/mysql/3301/slowquery.log
#log-queries-not-using-indexes
slow-query-log			= 1
slow-query-log-file		= /home/data/mysql/3301/slowquery.log
binlog-ignore-db		= mysql
binlog-ignore-db		= test
server-id			= 1

[mysqld2]
port				= 3302
datadir				= /home/data/mysql/3302
log-bin				= /home/data/mysql/3302/mysql-bin
pid-file			= /home/data/mysql/3302/mysql.pid
socket				= /home/data/mysql/3302/mysql.sock
log-error			= /home/data/mysql/3302/error.log
log-slow-queries		= /home/data/mysql/3302/slowquery.log
#log-queries-not-using-indexes
binlog-ignore-db		= mysql
binlog-ignore-db		= test
server-id			= 2


[mysqld]
user				= mysql
large-pages
federated
event_scheduler			= OFF
skip-name-resolve
socket				= /tmp/mysql.sock
max_connections			= 3000
back_log			= 20000
table_open_cache		= 512
table_definition_cache		= 2000
thread_cache_size		= 200
auto_increment_increment	= 1
auto_increment_offset		= 1
long_query_time			= 2
max_heap_table_size		= 5G
tmp_table_size			= 5G
thread_concurrency		= 24

###per thread config
join_buffer_size		= 2M
sort_buffer_size		= 2M
read_buffer_size		= 2M
read_rnd_buffer_size		= 2M
net_buffer_length		= 128K
thread_stack			= 256K 
max_allowed_packet		= 50M

###query cache
query_cache_type		= 0
query_cache_size		= 36M
query_cache_min_res_unit	= 2K

### MyISAM config
skip-external-locking
key_buffer_size			= 32m
concurrent_insert		= 2
bulk_insert_buffer_size		= 8M


###innodb config
innodb_file_format		= barracuda
innodb_file_per_table		= 1
innodb_strict_mode		= 1
innodb_old_blocks_time		= 1000 
innodb_old_blocks_pct		= 37
innodb_max_dirty_pages_pct	= 2
default-storage-engine		= INNODB
innodb_io_capacity		= 600
innodb_buffer_pool_size		= 5G
innodb_log_buffer_size		= 512M
innodb_log_file_size		= 128M
innodb_log_files_in_group	= 3
innodb_read_io_threads		= 4
innodb_write_io_threads		= 2
innodb_file_per_table		= 1
innodb_flush_log_at_trx_commit	= 0
innodb_buffer_pool_instances	= 8
innodb_additional_mem_pool_size	= 8M
innodb_open_files		= 1000 
innodb_use_native_aio		= 1
innodb_adaptive_hash_index	= 1  
innodb_adaptive_flushing	= 1 
innodb_lock_wait_timeout	= 20
innodb_thread_concurrency	= 24 
innodb_sync_spin_loops		= 100
innodb_spin_wait_delay		= 30
innodb_concurrency_tickets	= 5000
innodb_commit_concurrency	= 4
innodb_flush_method		= O_DIRECT
innodb_support_xa		= 1
skip-innodb-doublewrite
innodb_autoextend_increment	= 1024
log-bin				= mysql-bin
binlog_format			= mixed
binlog_cache_size		= 128K
log_bin_trust_function_creators	= 1
expire_logs_days		= 3
max_binlog_size			= 800M
#innodb_data_file_path		= ibdata1:10M:autoextend
#innodb_status_file             
